@page "/ProductPage/{CurrentID}"
@using Services;
@using SharedItems.Models;
@inject ProductHttpService productService;

<h3>Product</h3>
@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Prduct ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                </tr>
        </tbody>
    </table>
}


@code {
    [Parameter]
    public string CurrentID { get; set; }
    Product product;

    protected override async Task OnInitializedAsync()
    {
        product = await productService.GetProductById(Convert.ToUInt64(CurrentID));
    }
}
